#Untracked directories
code\experiments_completed\**
code\experiments_error\**
code\experiment_queue\**

#Untracked files
*.pyc
code/misc_code_testing/ePANDA_pro_pic.jpeg
*slack_credentials.py
*secrets.py
code/atlassian_tools/kablab_projects.py
scarth.py
