repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    # UV Version
    rev: 0.7.6
    hooks:
      - id: uv-lock
      - id: uv-export
        args: ["--without-hashes", "--output", "requirements.txt"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.10
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format