annotated-types==0.7.0
async-timeout==5.0.1
black==24.10.0
cffi==1.17.1
click==8.1.7
colorama==0.4.6
comtypes==1.4.8
contourpy==1.3.0
cryptography==44.0.0
cycler==0.12.1
exceptiongroup==1.2.2
filelock==3.16.0
fonttools==4.53.1
fsspec==2024.9.0
gitdb==4.0.11
GitPython==3.1.43
gpytorch==1.13
greenlet==3.1.0
grpcio==1.68.1
grpcio-tools==1.68.1
ifaddr==0.2.0
imageio==2.35.1
iniconfig==2.0.0
isort==5.13.2
jaxtyping==0.2.19
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.7
lazy_loader==0.4
linear-operator==0.5.3
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
mpmath==1.3.0
mypy-extensions==1.0.0
networkx==3.3
numpy==1.26.0
obsws-python==1.7.0
opencv-python==4.10.0.84
packaging==24.1
pandas==2.2.2
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.3.6
pluggy==1.5.0
protobuf==5.29.1
PuLP==2.9.0
pycparser==2.22
pydantic==2.9.1
pydantic_core==2.23.3
Pygments==2.18.0
pyparsing==3.1.4
pyserial==3.5
pytest==8.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
regex==2024.7.24
rich==13.9.4
ruff==0.8.3
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.1
shellingham==1.5.4
sila2==0.12.2
six==1.16.0
slack_sdk==3.32.0
smmap==5.0.1
spinnaker-python @ file:///P:/panda_sdl_3rd_party_software/flir/spinnaker_python-4.0.0.116-cp310-cp310-win_amd64/spinnaker_python-4.0.0.116-cp310-cp310-win_amd64.whl
SQLAlchemy==2.0.34
sympy==1.13.2
threadpoolctl==3.5.0
tifffile==2024.8.30
tomli==2.0.1
torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
tqdm==4.67.1
typeguard==4.3.0
typer==0.15.1
typing_extensions==4.12.2
tzdata==2024.1
websocket-client==1.8.0
zeroconf==0.136.2
