annotated-types==0.5.0
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
atlassian-python-api==3.41.11
beautifulsoup4==4.12.3
Bottleneck @ file:///C:/ci_311/bottleneck_1676500016583/work
certifi==2024.2.2
cffi @ file:///C:/b/abs_78eb1_vq6z/croot/cffi_1714483206096/work
charset-normalizer==3.3.2
click==8.1.3
click-log==0.4.0
colorama==0.4.6
comm @ file:///C:/b/abs_67a8058udb/croot/comm_1709322909844/work
comtypes @ file:///C:/ci_311/comtypes_1678830166075/work
contourpy @ file:///C:/b/abs_853rfy8zse/croot/contourpy_1700583617587/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
debugpy @ file:///C:/b/abs_c0y1fjipt2/croot/debugpy_1690906864587/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
Deprecated==1.2.14
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
filelock @ file:///C:/b/abs_f2gie28u58/croot/filelock_1700591233643/work
flirpy==0.3.0
fonttools==4.25.0
fsspec @ file:///C:/b/abs_d5jzmndkba/croot/fsspec_1714461594761/work
gmpy2 @ file:///C:/ci_311/gmpy2_1677743390134/work
gpytorch==1.11
greenlet==3.0.3
idna==3.7
imageio==2.34.1
importlib-metadata==6.8.0
importlib-resources==6.0.1
intel-openmp==2021.4.0
ipykernel @ file:///C:/b/abs_c2u94kxcy6/croot/ipykernel_1705933907920/work
ipython @ file:///C:/b/abs_b6pfgmrqnd/croot/ipython_1704833422163/work
ipywidgets==8.1.2
jaxtyping==0.2.28
jedi @ file:///C:/ci_311/jedi_1679427407646/work
Jinja2 @ file:///C:/b/abs_92fccttino/croot/jinja2_1716993447201/work
jmespath==1.0.1
joblib==1.4.0
jupyter_client @ file:///C:/b/abs_a6h3c8hfdq/croot/jupyter_client_1699455939372/work
jupyter_core @ file:///C:/b/abs_c769pbqg9b/croot/jupyter_core_1698937367513/work
jupyterlab_widgets==3.0.10
kiwisolver @ file:///C:/ci_311/kiwisolver_1676431979301/work
lazy_loader==0.4
libusb==1.0.26b5
linear-operator==0.5.2
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
matplotlib @ file:///C:/b/abs_e26vnvd5s1/croot/matplotlib-suite_1698692153288/work
matplotlib-inline @ file:///C:/ci_311/matplotlib-inline_1676425798036/work
mkl==2021.4.0
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
munkres==1.1.4
natsort==8.4.0
NESP-Lib==1.0.2
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
networkx @ file:///C:/b/abs_3bxnu56g9d/croot/networkx_1717597507456/work
numexpr @ file:///C:/b/abs_5fucrty5dc/croot/numexpr_1696515448831/work
numpy @ file:///C:/b/abs_16b2j7ad8n/croot/numpy_and_numpy_base_1704311752418/work/dist/numpy-1.26.3-cp311-cp311-win_amd64.whl#sha256=5f2c4b54fd5d52b9fb18e32607c79b03cf14665cecce8a5a10e2950559df4651
oauthlib==3.2.2
obsws-python==1.6.0
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
opencv-python-headless==4.8.0.76
packaging @ file:///C:/b/abs_cc1h2xfosn/croot/packaging_1710807447479/work
pandas @ file:///C:/b/abs_fej9bi0gew/croot/pandas_1702318041921/work/dist/pandas-2.1.4-cp311-cp311-win_amd64.whl#sha256=d3609b7cc3e3c4d99ad640a4b8e710ba93ccf967ab8e5245b91033e0200f9286
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
Pillow @ file:///C:/b/abs_20ztcm8lgk/croot/pillow_1696580089746/work
pkg-about==1.0.8
platformdirs @ file:///C:/b/abs_b6z_yqw_ii/croot/platformdirs_1692205479426/work
ply==3.11
prettytable @ file:///C:/ci_311/prettytable_1676453933113/work
prompt-toolkit @ file:///C:/b/abs_68uwr58ed1/croot/prompt-toolkit_1704404394082/work
psutil @ file:///C:/ci_311_rebuilds/psutil_1679005906571/work
PuLP==2.8.0
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.4.2
pydantic_core==2.10.1
pyDOE2==1.3.0
pyftdi==0.55.0
Pygments @ file:///C:/b/abs_fay9dpq4n_/croot/pygments_1684279990574/work
pyparsing @ file:///C:/ci_311/pyparsing_1678502182533/work
PyQt5==5.15.10
PyQt5-sip @ file:///C:/b/abs_c0pi2mimq3/croot/pyqt-split_1698769125270/work/pyqt_sip
pysds011==0.0.4
pyserial==3.5
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///C:/b/abs_19q3ljkez4/croot/pytz_1695131651401/work
pyudev==0.24.1
pyusb==1.2.1
pywin32==305.1
pyzmq @ file:///C:/b/abs_89aq69t0up/croot/pyzmq_1705605705281/work
regex==2023.8.8
requests==2.31.0
requests-oauthlib==2.0.0
sartorius==0.5.0
scikit-image==0.23.2
scikit-learn==1.4.2
scipy @ file:///C:/b/abs_86x0wu5rr1/croot/scipy_1710947370784/work/dist/scipy-1.12.0-cp311-cp311-win_amd64.whl#sha256=5c996fdb2a60e355fd2f706524c685d91dcce64771c8651466d44ecbbccf3cf1
seaborn @ file:///C:/ci_311/seaborn_1676446547861/work
sip @ file:///C:/b/abs_edevan3fce/croot/sip_1698675983372/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
slack-sdk==3.21.3
soupsieve==2.5
SQLAlchemy==2.0.30
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
sympy @ file:///C:/b/abs_82njkonm7f/croot/sympy_1701397685028/work
tbb==2021.11.0
threadpoolctl==3.4.0
tifffile==2024.5.10
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli==2.0.1
torch==2.3.0+cu118
torchaudio==2.3.0+cu118
torchvision==0.18.0+cu118
tornado @ file:///C:/b/abs_0cbrstidzg/croot/tornado_1696937003724/work
tqdm==4.66.1
traitlets @ file:///C:/ci_311/traitlets_1676423290727/work
typeguard==2.13.3
typing_extensions @ file:///C:/b/abs_0as9mdbkfl/croot/typing_extensions_1715268906610/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
urllib3==2.2.1
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
websocket-client==1.6.1
widgetsnbextension==4.0.10
wrapt==1.16.0
zipp==3.16.2
