# Test environment file for PANDA
# This file contains environment variables used for testing

# Configuration paths
PANDA_SDL_CONFIG_PATH=${TEST_CONFIG_PATH}
PANDA_TESTING_CONFIG_PATH=${TEST_CONFIG_PATH}

# Testing flags
PANDA_TESTING_MODE=1
TEMP_DB=1
PANDA_UNIT_ID=99


# Other testing environment variables
DOTENV_LOADED=True
